.cards-title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  padding-top: 70px;
}

#cards-title_dark {
  color: var(--cards-title);
}

#cards-title_dark.active {
  color: white;
}

.cards-title p {
  color: var(--black);
  margin-top: 20px;
  width: 400px;
  height: 69px;
  text-align: center;
  font-size: var(--sm);
}

.cards-type_menu {
  margin: 0px 30px 0 30px;
  border-bottom: solid 2px var(--cards-back);
}

.cards-type_menu ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: var(--lg);
}

.cards-type_menu li {
  padding: 25px;
}

.cards-type_menu ul a {
  text-decoration: none;
  color: gray;
}

#cards-all.active {
  color: white;
}

.cards-container {
  margin: 40px 30px 0 30px;
  gap: 32px;
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-template-rows: 50% 50%;
  justify-items: center;
}

.character_card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-color: var(--cards-back);
  border-radius: 10px;
  margin-bottom: 40px;
}

.card-name {
  display: flex;
  justify-content: space-between;
  width: inherit;
  padding: 0 25px;
}

div.card-name {
  align-items: center;
  width: inherit;
}

.card-action {
  display: flex;
  justify-content: space-between;
  width: inherit;
  padding: 0 25px;
  align-items: center;
}

.character-img {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 254px;
  height: 241px;
  border-radius: 10px;
  background-color: white;
}

.character-img img {
  object-fit: contain;
}

.character_card div p {
  font-weight: 600;
}

.character_card button {
  width: 90px;
  height: 40px;
  background-color: var(--main-color);
  color: var(--white);
  border-radius: 5px;
  border: none;
}

.more-cards {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  gap: 43%;
  padding: 100px 50px 75px 30px;
}

.more-cards button {
  background-color: var(--main-color);
  color: var(--white);
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 40px;
}

.more-cards p {
  color: var(--main-color);
}

@media (max-width: 820px) {
  .cards-container {
    display: grid;
    grid-template-columns: 85%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    justify-content: center;
    align-items: stretch;
  }

  .cards-title h1 {
    width: 90vw;
    text-align: center;
  }
  .cards-title p {
    width: 80vw;
  }

  .cards-type_menu li {
    padding: 15px 0 15px 0;
  }

  .character-img {
    width: 215px;
  }

  .character-img img {
    object-fit: contain;
  }
}
